@import 'lightgallery';

@import './bootstrap';
@import "./custom";
@import "./flaticon";
@import './style';

@import 'motion-ui';

$motion-ui-speeds: (
  default: 250ms,
  slow: 750ms,
  fast: 250ms,
);

@include motion-ui-transitions;
@include motion-ui-animations;

@import 'global/admin-bar';
@import 'global/navigation';
@import 'global/footer';

@import 'templates/taxonomy-product_cat';
@import 'templates/single-product';
@import 'templates/archive-product';
@import 'templates/cart';
@import 'templates/single-tribe_events';
@import 'templates/archive-tribe_events';
@import 'templates/archive-media';
@import 'templates/compare';
@import 'templates/home';