img {
	width:200px;
}

.nav-container, .cloud-container, #search, .category-head, .footer {
	display: none;
}

.logo-container {
	text-align: center;
}

body.compare-list-print, body.page-template-compare {
	
	table {
		
		img {
	
			&.wp-post-image, &.size-main_image {
				height: auto !important;
			}
			
		}
		
	}
	
	#site-url-for-print {
		text-align: center;
	}
	
}