.navigation-bar {
	
	&, &.scroll-BG {
		
		background: #6195e0 !important;
		
	}
	
	.cloud-container {

		@media (max-width: 991px) {
			float: right;
		}
		
		@media only screen and (min-width: 768px) and (max-width: 1112px) {
			
			float: right;
			margin-top: -3.25rem;
			
		}
		
		i.menu-btn {
		
			&, &:hover {

				color: #fff;

			}
		
		}
		
	}

}

/**
 * Copied from Custom CSS on Staging
 * 
 * 2023/01/10
 */
.main-nav > .nav-item {

	padding: 0 rem-calc( 2 );

	& > .nav-link {

		font-weight: bold;
	
	}

}