html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.offcanvas-collapse {
    display: none;
}
.offcanvas-collapse.open {

    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: #fff;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    z-index: 1040;
    color: #000;

    .alignright {
        float: right;
        &:after {
            clear: both;
        }
    }

    button {
        font-size: 2rem;
        line-height: 1;
    }

    .close-filters {
        background: transparent;
        border: 0;
    }

    p {
        color: #000;
    }

    .content {
        position: relative;
        width: 100%;
        height: 100vh;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .container {

        float: left;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        overflow-y: visible;
        padding-right: 1rem;
        padding-left: 1rem;
        color: #000;

        .widget {

            padding-top: 1rem;
            padding-left: 0;
            padding-right: 0;

            color: #000;

        }

    }

    button.apply-filters {

        position: sticky;
        width: 100%;

        bottom: 0;
        height: 4rem;
        z-index: 3;

        background: #6195e0;
		color: #fff;

    }

    .facetwp-checkbox {

        &[data-value="rare-and-collectible"] {

            .facetwp-counter {
                display: none;
            }

        }
        
    }

}