.archive.woocommerce, .tax-product_cat {
	
	.cd-filter {
		
		float: left;
		
		&.disabled {
			
			* {
				pointer-events: none;
			}
			
			&:after {
				
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				
				background: rgba( 0, 0, 0, 0.3 );
				
			}
			
		}
		
		#product-search {
			
			color: #111;
			
		}
		
		.wcpf-heading-label {
			
			position: relative;
			margin-bottom: .2em;
			padding: 10px 0 10px 20px;
			color: #bbb;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 0.8rem;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor: pointer;
			
			font-family: 'Montserrat';
			line-height: 18px;
			padding-left: 0;
			padding-right: 0;
			
			span, a {
				font-weight: inherit;
			}
			
			span:before {
				color: #bbb;
			}
			
		}
		
		.wcpf-input-container {
			
			border-color: #000;
			border-width: 2px;
			border-radius: 0;
			
		}
		
		.wcpf-checkbox-label {
			
			margin-bottom: 5px;
			
		}
		
		.facetwp-checkbox {
			
			font-size: 0.8rem;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			top: 0px;
			position: relative;
			
			span {
				font-family: inherit;
			}
			
		}
		
		.wcpf-checkbox-item.checked {
			
			& > .wcpf-checkbox-item-inner {
			
				& > .wcpf-checkbox-label {
					
					& > .wcpf-input-container {

						background: #000;

						&:after {

							top: 3px !important;
							left: 2px !important;

							border-color: #fff !important;

						}
						
					}

				}
				
			}
			
		}
		
		.hidden {
			
			display: none;
			
		}
		
	}
	
	.cd-gallery { 
		
		ul.products {
		
			li.product {
			
				display: none;
				
				a {

					img {
						margin-bottom: 0;
					}
					
				}

				h2 {

					padding: 10px;
					background: #000;
					position: relative;
					line-height: initial;
					text-align: left;
					font-size: 12px;
					height: 52px;
					font-weight: normal;
					
					margin-top: -4px;

				}

				span.price {

					text-transform:uppercase;
					position: absolute;
					right: 0;
					padding: 10px;
					top: 50%;
					background: #6195e0;
					color: #000;
					opacity: 0.8;
					font-size: 12px;
					
					&, * {
						font-weight: bold;
					}

				}

			}
			
		}
		
	}
	
	nav.woocommerce-pagination { 
		
		ul {
			
			li {
				width: auto;
			}
			
		}
		
	}
	
	.widget {
		
		padding: 70px 10%;
		
		&:first-of-type {
			padding-bottom: 0;
		}
		
		&:nth-of-type(1n + 2) {
			padding-top: 0;
		}
		
	}
	
	.facetwp-facet-show {
		
		display: none;
		
	}
	
	.facetwp-pager {
		
		text-align: center;
		
		span {
			color: #fff;
		}
		
	}
	
}

.blockUI.blockOverlay {
	
	display: none !important; // Override inline style
	
}