.post-type-archive-video {

    #video-categories {

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 1rem;
        }

        text-align: center;

        .video-category {
            margin-bottom: 1rem;
        }

    }

}