.woocommerce-checkout {

    .form-row.place-order {

        float: none;

        .woocommerce-terms-and-conditions-wrapper {
            float: left;
        }

    }

    .woocommerce-thankyou-order-received {

        line-height: 1.5;

    }

}