body.page-template-clients, body.page-template-testimonials {

    #clients, #testimonials {

        & > .row {
            margin-bottom: 1rem;
        }

        blockquote {

            &, p {
                margin-top: 0;
            }

            margin-left: 0;
            margin-right: 0;

        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: .5rem;
        }

        .trd-testimonial-text {

            a {

                text-decoration: underline;

                &:hover, &:focus {
                    text-decoration: none;
                }

            }

        }

    }

}