body.page-template-clients, body.page-template-testimonials {

    #clients {

        .trd-testimonial-text {
            margin-bottom: 1rem;
        }

    }

    #clients, #testimonials {

        // Desktop only
        @media (min-width: 1200px) {

            .trd-testimonial-text{
                margin-bottom: 0;
            }

            & > .row {
                margin-bottom: 1rem;
            }

        }

        blockquote {

            &, p {
                margin-top: 0;
            }

            margin-left: 0;
            margin-right: 0;

        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: .5rem;
        }

        .trd-testimonial-text {

            a {

                text-decoration: underline;

                &:hover, &:focus {
                    text-decoration: none;
                }

            }

        }

    }

}

body.page-template-testimonials {

    h3 {

        @extend a;

    }

}