body.home {
	
	.forcefullwidth_wrapper_tp_banner {

		margin-top: 3rem !important;

	}
	
	@media (min-width: 992px) {
	
		.forcefullwidth_wrapper_tp_banner {

			margin-top: 4rem !important;

		}
		
	}
	
	#events {
		
		@media only screen and (max-width: 1023px) {
			display: none;
		}
		
	}
	
}