.woocommerce.single-product {
	
	.product {
		
		background: transparent;
		border: 0;
		
		.single_add_to_cart_button, .add_to_cart_button, .compare.button, .button {
			
			display: inline-block;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 12px;
			color: #fff;
			padding: 14px 25px;
			text-decoration: none;
			text-align: center;
			-moz-border-radius: 21px;
			-webkit-border-radius: 21px;
			border-radius: 21px;
			background: #6195e0;
			border: 2px solid #000;
			
		}
		
	}
	
	div.product {
		
		div.summary {
			width: 100%;
		}
		
		.images {
			
			width: 100%;
			
			.thumbnails {
				
				background: transparent;
				margin-top: 0;
				margin-bottom: 0;
				height: auto;
				
				li {
					
					margin-right: 0.5rem;
					
					&:last-of-type {
						margin-right: 0;
					}
					
				}
				
			}
			
			.yith_magnifier_zoom_magnifier {
				border: none;
			}
			
		}
		
		.woocommerce-tabs {
			
			ul.tabs {

				border: none;
				background: transparent;
				margin-bottom: 0;

				&:before {
					content: none;
				}

				li {

					&:before {
						box-shadow: 2px 2px 0 #22395c;
					}

					background: #22395c;
					border-bottom-color: #22395c;
					color: #fff;
					
					a {
						color: #fff;
					}

					&:after {
						box-shadow: -2px 2px 0 #22395c;
					}

				}

				li.active {

					&:before {
						box-shadow: 2px 2px 0 #6195e0;
					}

					background: #6195e0;
					border-bottom-color: #6195e0;
					color: #fff;

					&:after {
						box-shadow: -2px 2px 0 #6195e0;
					}

				}

			}

			.woocommerce-Tabs-panel {

				background: lighten( #c7c7c7, 15% );
				padding: 30px;
				
				& > h2 {
					color: inherit;
					margin-bottom: 1rem;
				}
				
				* {
					color: inherit;
				}

				table {

					tbody {

						background-color: lighten( #c7c7c7, 15% );

						tr:nth-child(even) {

							background-color: smart-scale( lighten( #c7c7c7, 15% ), 5% );

						}

					}

				}

			}

		}
		
		p.price {
			
			margin-bottom: 0;
			font-size: inherit;
			
			&, span {
				color: #fff;
			}
			
		}
		
		div.product_meta {
			
			margin-bottom: 1em;
			
			& > span {
				
				display: block;
				
				color: #fff;
				
			}
			
		}
		
	}
	
	li.product {
		
		.woocommerce-placeholder {
			
			min-height: 251.359px;
			width: auto;
			
		}
		
	}
	
	.woocommerce-product-gallery {
		margin-bottom: 5px !important;
	}
	
	.pmwoodwind-product-gallery-carousel {
		position: relative;
	}
	
	ul.flex-direction-nav {
		
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		width: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		list-style: none;
		
		pointer-events: none;
		
		li {
			
			list-style-type: none;
			
			a {
				
				&:before, &:after {
					
					pointer-events: all;
					
				}
				
			}
			
			&.flex-nav-prev {
				
				float: left;
				
				a.flex-prev {
					
					visibility: hidden;
					
					&:before {
						
						visibility:visible;
						content: '\f104';
						font-family: FontAwesome;
						margin-left: 10px;
						font-size: 70px;
						
					}
					
				}
				
			}
			
			&.flex-nav-next {
				
				float: right;
				
				a.flex-next {
					
					visibility: hidden;
					
					&:after {
						
						visibility:visible;
						content: '\f105';
						font-family: FontAwesome;
						margin-right: 10px;
						font-size: 70px;
						
					}
					
				}
				
			}
			
		}
		
	}
	
	.related.products {
		
		& > h2 {
			margin-bottom: 1em;
		}
		
		.price {
			margin-bottom: 0;
			font-size: inherit;
			
			&, span {
				color: #fff;
			}
		}
		
	}
	
	.comparelist {
		
		img {
			width: auto;
		}
		
		.price {
			margin-bottom: 0;
			font-size: inherit;
			
			&, span {
				color: #fff;
			}
		}
		
	}
	
	.out-of-stock-notice {
		
		color: #fff;
		
	}
	
	table.variations {
		tr {
			label {
				color: #fff;
			}
		}
	}
	
}