.tribe-events-notices {
	
	background: #6195e0;
	border-color: #6195e0;
	
	text-shadow: none;
	
}

.single-tribe_events {
	
	.tribe-events-event-meta {
		
		h1, h2, h3, h4, h5, h6 {
			
			color: inherit;
			
		}
		
	}
	
}