.woocommerce.single-product {
	
	.product {
		
		background: transparent;
		border: 0;
		
		.category-head {
			
			img {
				max-width: none;
			}
			
		}
		
		.single_add_to_cart_button, .add_to_cart_button, .compare.button, .button {
			
			display: inline-block;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 12px;
			color: #fff;
			padding: 14px 25px;
			text-decoration: none;
			text-align: center;
			-moz-border-radius: 21px;
			-webkit-border-radius: 21px;
			border-radius: 21px;
			background: #6195e0;
			border: 2px solid #000;
			
			&:disabled, &.disabled, &:active, &:focus, &:hover {
				background: #325483 !important;
			}
			
		}
		
	}
	
	div.product {
		
		div.summary {
			width: 100%;
		}
		
		.images {
			
			width: 100%;
			
			.thumbnails {
				
				background: transparent;
				margin-top: 0;
				margin-bottom: 0;
				height: auto;
				
				li {
					
					margin-right: 0.5rem;
					
					&:last-of-type {
						margin-right: 0;
					}
					
				}
				
			}
			
			.yith_magnifier_zoom_magnifier {
				border: none;
			}
			
		}

		.quantity:not(.hidden) {

			margin-top: 7px;

		}
		
		.woocommerce-tabs {
			
			ul.tabs {

				border: none;
				background: transparent;
				margin-bottom: 0;

				&:before {
					content: none;
				}

				li {

					&:before {
						box-shadow: 2px 2px 0 #22395c;
					}

					background: #22395c;
					border-bottom-color: #22395c;
					color: #fff;
					
					a {
						color: #fff;
					}

					&:after {
						box-shadow: -2px 2px 0 #22395c;
					}

				}

				li.active {

					&:before {
						box-shadow: 2px 2px 0 #6195e0;
					}

					background: #6195e0;
					border-bottom-color: #6195e0;
					color: #fff;

					&:after {
						box-shadow: -2px 2px 0 #6195e0;
					}

				}

			}

			.woocommerce-Tabs-panel {

				background: lighten( #c7c7c7, 15% );
				padding: 30px;
				
				& > h2 {
					color: inherit;
					margin-bottom: 1rem;
				}
				
				* {
					color: inherit;
				}

				table {

					tbody {

						background-color: lighten( #c7c7c7, 15% );

						tr:nth-child(even) {

							background-color: smart-scale( lighten( #c7c7c7, 15% ), 5% );

						}

					}

				}

			}

		}
		
		p.price {
			
			margin-bottom: 0;
			font-size: inherit;
			
			&, span {
				color: #fff;
			}
			
		}
		
		div.product_meta {
			
			margin-bottom: 1em;
			
			& > span {
				
				display: block;
				
				color: #fff;
				
			}
			
		}
		
	}
	
	li.product {
		
		.woocommerce-placeholder {
			
			min-height: 251.359px;
			width: auto;
			
		}
		
	}
	
	.woocommerce-product-gallery {
		
		margin-bottom: 0px !important;
		
		.woocommerce-product-gallery__image {
			
			span {
				top: 0 !important;
				display: block !important;
			}
			
		}
		
	}
	
	.woocommerce-product-gallery, .pmwoodwind-product-gallery-carousel {
		border: 2px #000 solid;
	}
	
	.pmwoodwind-product-gallery-carousel {
		position: relative;
		top: -10px;
		background: #325483;
	}
	
	ul.flex-direction-nav {
		
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		width: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		list-style: none;
		
		pointer-events: none;
		
		li {
			
			list-style-type: none;
			
			a {
				
				&:before, &:after {
					
					pointer-events: all;
					
					background: url( '../../../../../plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin.svg' );
					background-color: transparent;
					background-size: 264px 88px;
					height: 30px;
					width: 32px;
					
				}
				
			}
			
			&.flex-nav-prev {
				
				float: left;
				
				a.flex-prev {
					
					visibility: hidden;
					
					position: relative;
					
					&:before {
						
						content: '';
						position: absolute;
						visibility: visible;
						left: 5px;
						
						background-position: -138px -44px;
						
					}
					
				}
				
			}
			
			&.flex-nav-next {
				
				float: right;
				
				a.flex-next {
					
					visibility: hidden;
					
					position: relative;
					
					&:after {
						
						content: '';
						position: absolute;
						visibility: visible;
						right: 5px;
						
						background-position: -94px -44px;
						
						
					}
					
				}
				
			}
			
		}
		
	}
	
	.related.products {
		
		& > h2 {
			margin-bottom: 1em;
		}
		
		.price {
			margin-bottom: 0;
			font-size: inherit;
			
			&, span {
				color: #fff;
			}
		}
		
		li.product {
		
			.woocommerce-placeholder {

				min-height: 0;
				width: 100%;
				height: auto;

			}

		}
		
	}
	
	.comparelist {
		
		img {
			width: auto;
		}
		
		.price {
			margin-bottom: 0;
			font-size: inherit;
			
			&, span {
				color: #fff;
			}
		}
		
	}
	
	.out-of-stock-notice {
		
		color: #fff;
		
	}
	
	table.variations {
		
		tr {
			
			label {
				color: #fff;
			}
			
			td {
				vertical-align: middle !important;
			}
			
		}
		
	}
	
	&:not(.pmwoodwind-product-cannot-zoom) {

		.pswp__button.pswp__button--zoom {
			display: block !important; // Ensure Zoom is always visible on larger screens
		}

	}

	&.pmwoodwind-product-cannot-zoom {

		.pswp--zoom-allowed .pswp__img {
			cursor: default;
		}

	}
	
	.button {
		
		background: #6195e0;
		color: #fff;
		
	}
	
	h5.contactproduct {
		
		a {
			color: #bfe2ff;
		}
		
	}
	
	.product-content {
		margin-top: 1rem;
	}
	
	table.variations {
		
		tr {
			
			padding: 0;
			
			td {
			
				padding: 0;
				padding-top: 2.5px;
				line-height: normal !important;
				
				label {
					font-weight: 400 !important;
				}
				
				&.label {
					padding-right: 0;
					padding-left: 5px;
				}
				
				&.value {
					
					padding-left: 0;
					padding-right: 5px;
					
					select {
						width: 100%;
					}
					
				}
				
			}
			
		}
		
	}
	
	.compare-header {
		cursor: pointer;
	}
	
	ul.compare {
		
		display: block;
		position: relative;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		
		label {
			display: inline-block;
			cursor: pointer;
		}
	
		input.woocommerce-products-compare-checkbox {

			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
			
			& ~ .checkmark.remove {
				
				display: none;
				
			}
			
			&:checked {
				
				& ~ .checkmark.remove {
					display: inline;
				}
				
				& ~ .checkmark.add {
					display: none;
				}
				
			}

		}
		
	}
	
	.woocommerce-products-compare-widget {
		
		overflow: visible;
		
		@extend .row;
		
		.widgettitle {
			
			font-size: 18px;
			line-height: 18px;
			
			@extend .col-sm-12;
			
		}
		
		p.no-products {
			
			@extend .col-sm-12;
			
		}
		
		ul {
			display: inline-block;
			padding-left: 0;
			width: 100%;
		}
		
		li {
			
			@extend .col-sm-6;
			@extend .col-md-3;
			
			display: inline-block;
			margin-bottom: 0;
			margin-top: 0;
			
			float: left;
			
			a.product-link {
				
				display: inline-block;
				width: 100%;
				
				&:after {
					content: '';
					clear: both;
				}
				
			}
			
			img {
				float: left;
				margin-left: 0;
				width: 100%;
			}
			
			h3 {
				
				float: right;
				width: 100%;
				
				padding: 10px;
				background: #000;
				color: #bfe2ff;
				
				font-size: 14px;
				line-height: 20px;
				
			}
			
		}
		
		.woocommerce-products-compare-widget-compare-button {
			
			display: inline-block;
			margin: 0 15px;
			float: right;
			
		}
		
	}
	
}

// https://github.com/woocommerce/woocommerce/issues/23900
.woocommerce img.pswp__img,
.woocommerce-page img.pswp__img {
	max-width: none; /* 2 */
}