body.page-template-videos {

    .cd-main-content {
        min-height: auto;
    }

    .category-loop {

        margin-top: 1rem;

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 1rem;
        }

        text-align: center;

    }

}